{{> navAdmin}}
<div class="container ">
  <div class="row">
    {{#each muebles }}
    <div class="col-md-4">
      <div class="panel panel-default pt-4">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center" style="text-transform: capitalize;">{{tipo}} de {{material}}, {{color}}</h2>
          </div>
          <div class="card-body justify-content-center">
            <div class="panel-heading ">


            </div>
            <div class="panel-body">
              <h5>Proveedor: {{nombre_prov}}</h5>
              <h5>Vendedor: {{nombre_vend}}</h5>
              <hr>
              <h5>Precio: {{precio}}</h5>
            </div>
          </div>
          <div class="card-footer">
          <a class="btn btn-danger btn-block" href="/admin/borrar/{{id}}"><i class="fas fa-trash-alt"></i>&nbsp;
            Eliminar</a>
            <a class="btn btn-primary btn-block" href="/admin/editar/{{id}}"><i class="fas fa-edit"></i>&nbsp;
            Editar</a>
        </div>
        </div>
        
      </div>
    </div>

    {{/each}}
  </div>
</div>