{{> navAdmin}}
<div class="container pt-4">
    <div class="row justify-content-center">
        <div class="col-md- col-sm-5">
            <div class="card">
                <div class="card-header">
                    <h2>Editar proveedor</h2>
                </div>
                {{#each proveedor}}
                <form action="/editar-prov/add" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <input class="form-control"  type="text" name="direccion" value="{{direccion}}" placeholder="Direccion" required>
                        <input class="form-control" hidden type="text" name="id" value="{{id}}" placeholder="Direccion" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" value="{{nombre}}" type="text" name="nombre" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" value="{{persona_contacto}}" type="text" name="representante" placeholder="Representante" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" value="{{telefono}}" type="text" name="contacto" placeholder="Numero de Contacto" required>
                    </div>
                    <div class="form-group">
                        <button   class="btn btn-success btn-block" type="submit">Editar</button>
                    </div>
                {{/each}}
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
