{{> navAdmin}}

<div class="container justify-content-center pt-4">
    <div class="row justify-content-center">
        <div class="card col-md-9" style="background-image: url(https://img.freepik.com/foto-gratis/mezcla-aguamarina-pinturas-sobre-papel_23-2148015683.jpg?size=626&ext=jpg);opacity: 0.6;">
            <div class="card-header">
                <div class="row justify-content-center">
                    <h2><i class="fas fa-clipboard-list"></i>&nbsp;Reporte Mensual</h2>
                </div>
            </div>
            <div class="form-group">

                <select name="" id="opcion" class="form-control" onchange="boton()">
                    <option selected disabled>Selecciona una opcion</option>
                    <option value="vendedor">Vendedor que realizó más ventas durante el mes</option>
                    <option value="cliente">Clientes que realizaron las mayores compras</option>
                    <option value="mueble"> Muebles más vendidos</option>
                    <option value="nuevos"> Clientes nuevos</option>
                </select>
            </div>
        </div>
    </div>
    <div class="pt-4" id="tabla-mueble" style="display: none;">
       <table class="table table-hover" style="color: white;">
            <thead class="thead-dark">
                <tr>
                    <th>Id Mueble</th>
                    <th>Cantidad Comprados</th>
                    <th>Fecha</th>
                    <th> <span> </span></th>
                </tr>
            </thead>
            <tbody>
                {{#each repo_mueble}}
                <tr>
                    <td>{{id_mueble}}</td>
                    <td>{{cant_m_ven}}</td>
                    <td>{{fecha}}</td>
                    {{#showHr @index}}
                      <td><i class="fas fa-star"></i></td>
                    {{/showHr}}
                    <hr>
                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
    <div class="pt-4" id="tabla-vendedor" style="display: none;">
        <table class="table table-hover" style="color: white;">
            <thead class="thead-dark">
                <tr>
                    <th>Id Vendedor</th>
                    <th>Cantidad Vendidos</th>
                    <th>Fecha</th>
                    <th> <span> </span></th>
                </tr>
            </thead>
            <tbody>
                {{#each repo_vendedor}}
                <tr>
                    <td>{{id_vendedor}}</td>
                    <td>{{cant_vendidos}}</td>
                    <td>{{fecha}}</td>
                     {{#showHr @index}}
                      <td><i class="fas fa-star"></i></td>
                    {{/showHr}}
                    <hr>
                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
    <div class="pt-4" id="tabla-cliente" style="display: none;">
        <table class="table table-hover" style="color: white;">
            <thead class="thead-dark">
                <tr>
                    <th>Id Cliente</th>
                    <th>Cantidad Comprados</th>
                    <th>Fecha</th>
                    <th> <span> </span></th>
                </tr>
            </thead>
            <tbody>
                {{#each repo_cliente}}
                <tr>
                      
                    <td>{{id_cliente}}</td>
                    <td>{{cant_comprados}}</td>
                    <td>{{fecha}}</td>
                    {{#showHr @index}}
                      <td><i class="fas fa-star"></i></td>
                    {{/showHr}}
                    <hr>
                   
                </tr>
                {{/each}}
            </tbody>

        </table>
        <br>
    </div>
   
     <div class="pt-4" id="tabla-nuevos" style="display: none;">
        <table class="table table-hover" style="color: white;">
            <thead class="thead-dark">
                <tr>
                    <th>Id cliente</th>
                    <th>nombre</th>
                    <th>direccion</th>
                    <th>fecha_registro</th>
                    <th> <span> </span></th>
                </tr>
            </thead>
            <tbody>
                {{#each repo_nuevos}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{nombre}}</td>
                    <td>{{direccion}}</td>
                    <td>{{fecha_registro}}</td>
                     {{#admin @index}}
                      <td><i class="fas fa-star"></i></td>
                    {{/admin}}
                    <hr>
                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
</div>



<script>
    function boton() {
        const op = document.getElementById("opcion").value
        if (op == 'mueble') {
            document.getElementById("tabla-mueble").style.display = "block"
            document.getElementById("tabla-vendedor").style.display = "none"
            document.getElementById("tabla-cliente").style.display = "none"
            document.getElementById("tabla-nuevos").style.display = "none"

        }else if(op == 'cliente'){
            document.getElementById("tabla-mueble").style.display = "none"
            document.getElementById("tabla-vendedor").style.display = "none"
            document.getElementById("tabla-cliente").style.display = "block"
            document.getElementById("tabla-nuevos").style.display = "none"
        }else if(op == 'vendedor'){
            document.getElementById("tabla-mueble").style.display = "none"
            document.getElementById("tabla-vendedor").style.display = "block"
            document.getElementById("tabla-cliente").style.display = "none"
            document.getElementById("tabla-nuevos").style.display = "none"
        }else if(op == 'nuevos'){
            document.getElementById("tabla-mueble").style.display = "none"
            document.getElementById("tabla-vendedor").style.display = "none"
            document.getElementById("tabla-cliente").style.display = "none"
            document.getElementById("tabla-nuevos").style.display = "none"
            document.getElementById("tabla-nuevos").style.display = "block"
        }


    }



</script>